# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
*.log
docker-compose.override.yml
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# General
*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/
node_modules/
dist/
build/
coverage/
deleted/
.venv
metastore_db
*.ipynb_checkpoints/
artifacts/
notebooks
.cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.pytest_cache/
.mypy_cache/
.pyre/
.coverage
htmlcov/
.cache/
*.cover
*.pyc
*.pkl
*.db
*.sqlite3
*.pot
*.mo
*.log
*.spec
*.manifest
*.lock
*.wsgi
*.env
*.venv/
env/
ENV/
venv/
instance/
.scrapy/
*.sage.py
*.ipynb
*.ipynb_checkpoints/
*/*/__pycache__
notes.txt
